<!-- Introduction Section --->
<section
  id="introduction"
  class="min-h-[25vh] flex flex-col justify-center mb-8"
>
  <h1 class="text-3xl font-bold mb-4">Hello, I'm Promise Odelola</h1>
  <p class="text-md text-gray-300 max-w-2xl leading-relaxed">
    Welcome! I'm a Full-Stack Engineer dedicated to building reliable and
    scalable web applications. I specialize in the Vue and React ecosystems,
    with backend skills in PHP (Laravel),Nodejs (Expressjs) and Nestjs . Let's
    create something powerful.
  </p>
</section>
